streamlit==1.56.0
pandas==3.0.2
numpy==2.4.4
plotly==6.6.0
python-dotenv==1.2.2
google-generativeai==0.8.6
requests==2.33.1
Faker==40.13.0
scikit-learn==1.8.0
faiss-cpu==1.14.2
openai>=1.0.0
sentence-transformers
